SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

SPOTIFY_PLAYLIST_ID=your_spotify_playlist_id_here
SPOTIFY_MARKET=CA

TRACKER_MODE=bulk_import
